@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
button{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 70%;
    left: 45%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 450;
    font-size: 17px;
}