@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
button{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 79%;
    left: 44%;
    background: none;
    color: chartreuse;
    border:solid chartreuse 1px;
    width: 7%;
    height: 4%;
    border-radius: 5px;
    font-weight: 450;
    font-size: 17px;
}
.LogoL{
    position: absolute;
    top: 40%;
    left: 32.5%;
}
h1{   
    font-family: 'Orbitron', sans-serif;
    font-size: 150%;
    position: absolute;
    color: chartreuse;
    left: 29.5%;
    top: 68%;
    
}
