@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.plus1{
position: absolute;
top: 4%;
left: 2%;
background: none;
}

.plus2{
position: absolute;
top: 4%;
right: 2%;
background: none;
}

.plus3{
position: absolute;
bottom: 4%;
left: 2%;
background: none;
}


.plus4{
position: absolute;
bottom: 4%;
right: 2%;
background: none;
}

.button1{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 46.4%;
    left: 2.6%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

.button2{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 51.3%;
    left: 2.6%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

.button3{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 46.4%;
    right: 2.6%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

.button4{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 51.3%;
    right: 3.4%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

.vers1{
    
    position: absolute;
    top: 80%;
    left: 45%;
    background: none;
    border: none;
}

.laylow{
    
    position: absolute;
    top: 20%;
    left: 10%;
    border: 2px solid chartreuse;
    border-radius: 3px;
}

.Logo{
    position: absolute;
    top: 19%;
    left: 36%;
}
.EP{
    position: absolute;
    top: 35%;
    left: 37.3%;
    width: 55%;
    height: 42%;
    /* border:solid 1px chartreuse; */
}
p{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    font-size: 91%;
    color: chartreuse;
}