@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.plus1{
position: absolute;
top: 4%;
left: 2%;
background: none;
}

.plus2{
position: absolute;
top: 4%;
right: 2%;
background: none;
}

.plus3{
position: absolute;
bottom: 4%;
left: 2%;
background: none;
}


.plus4{
position: absolute;
bottom: 4%;
right: 2%;
background: none;
}

.button1{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 26.1%;
    left: 23.5%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 19px;
}

.button2{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 26.1%;
    left: 37.5%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 19px;
}

.button3{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 26.1%;
    right: 38.8%;
    background: none;
    color: chartreuse;
    border: none;
    
    font-weight: 500;
    font-size: 19px;
}

.button4{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 26.1%;
    right: 26.4%;
    background: none;
    color: chartreuse;
    border: none;
    font-weight: 500;
    font-size: 19px;
}

.Logo{

    position: absolute;
    top: 13.9%;
    right: 30.9%;
    background: none;

}
.bare{

    position: absolute;
    bottom: 0%;
    right: 13%;
    background: none;

}
.bare1{

    position: absolute;
    bottom: 0%;
    left: 13%;
    background: none;

}
.bare2{

    position: absolute;
    bottom: 0%;
    left: 38%;
    background: none;

}

.instagram{

    position: absolute;
    bottom: 25.6%;
    left: 45.6%;
    background: none;

}
.twitter{

    position: absolute;
    bottom: 25.6%;
    left: 48.4%;
    background: none;

}